.col-6 {
  border: 1px solid black;
}
h1,h3 {
  text-align: center;
}
#game {
  display: none;
}
.gameplay {
  display: none;
}
.row {
  position: relative;
}
.notPlaying {
  opacity: 0.5;
}
/* .buttons {
  position: absolute;
  bottom: 1em;
  left: 32em;
} */