* {
  box-sizing: border-box;
}
body {
  background: whitesmoke;
  font-size: 1.2em;
  /* background: linear-gradient(to right, #ee9ca7, #ffdde1); */
  /* background: linear-gradient(to right, #2c3e50, #3498db); */
  font-family: Englebert;
  background:#3498db;
}
#description{
  background: whitesmoke;
  border-radius: 9px;
  text-align: center;
  padding: 30px;
}
form {
  text-align: center;
}
.form-group {
  text-align: center;
  margin: 0 auto;
}
#gameplay {
  cursor: pointer;
}
#gameplay:hover {
  color: #3498db;
  text-decoration: underline;
}
/* h1 {
  font-family: ;
} */
.col-4,.col-3 {
  border: 1px solid black;
  padding: 20px;
  border-radius: 9px;
  background: whitesmoke; 
}
.col-3 {
  height: 200px;
}
.col-4 {
  height: 350px;
}
.row {
  display: flex;
  justify-content: space-between;
}
h1,h3 {
  text-align: center;
}
#game {
  display: none;
  padding: 0;
} 
#game .row {
  margin-top: 3%;
}
#rematch {
  display: none;
}
.winner {
  color: crimson;
}
#announcer {
  font-size: 34px;
}
.gameplay {
  display: none;
}
.roundScore {
  text-align: center;
}
.row {
  position: relative;
}
.globalScoreDisplay1, .globalScoreDisplay2 {
  font-size: 80px;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.notPlaying {
  opacity: 0.78;
}
.btn-info {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #3498db;
  outline-style: none;
}
.btn-info:hover {
  background: white;
  color: #3498db;
  border: 1px solid #3498db;
}
#game-board {
  border: 1px solid black;
  position: relative;
  display: flex;
  align-self: center;
  text-align: center;
  justify-content: center;
}
.buttons {
  position: absolute;
  bottom: 0;
  left: 105px;
  text-align: center;
}
.dice-image {
  display: none;
  position: relative;
  bottom: 1.3em;
  border: 1px solid black;
}
#new-buttons {
  text-align: center;
  margin-top: 30px;
}